Source: osso-fm-transmitter-l10n
Section: misc
Priority: optional
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends: debhelper-compat (= 12), gettext
Standards-Version: 4.3.0

Package: osso-fm-transmitter-l10n-mr0
Section: misc
Architecture: all
Provides: osso-fm-transmitter-l10n-mr
Depends: osso-fm-transmitter-l10n-ruru, osso-fm-transmitter-l10n-frfr, osso-fm-transmitter-l10n-frca, osso-fm-transmitter-l10n-dadk, osso-fm-transmitter-l10n-itit, osso-fm-transmitter-l10n-svse, osso-fm-transmitter-l10n-nono, osso-fm-transmitter-l10n-fifi, osso-fm-transmitter-l10n-nlnl, osso-fm-transmitter-l10n-enus, osso-fm-transmitter-l10n-dede, osso-fm-transmitter-l10n-esmx, osso-fm-transmitter-l10n-eses, osso-fm-transmitter-l10n-cscz, osso-fm-transmitter-l10n-ptpt, osso-fm-transmitter-l10n-engb, osso-fm-transmitter-l10n-plpl
Description: osso-fm-transmitter marketing release package
 This is a metapackage for osso-fm-transmitter to pull all the l10n packages.
 Application developers of osso-fm-transmitter should depend on
 "osso-fm-transmitter-l10n-mr0 | osso-fm-transmitter-l10n-mr"
 to ensure correct locales are getting installed.

Package: osso-fm-transmitter-l10n-cscz
Section: misc
Architecture: all
Description: language files for osso-fm-transmitter (cs_CZ)
 Language files for cs_CZ osso-fm-transmitter.

Package: osso-fm-transmitter-l10n-dadk
Section: misc
Architecture: all
Description: language files for osso-fm-transmitter (da_DK)
 Language files for da_DK osso-fm-transmitter.

Package: osso-fm-transmitter-l10n-dede
Section: misc
Architecture: all
Description: language files for osso-fm-transmitter (de_DE)
 Language files for de_DE osso-fm-transmitter.

Package: osso-fm-transmitter-l10n-engb
Section: misc
Architecture: all
Description: language files for osso-fm-transmitter (en_GB)
 Language files for en_GB osso-fm-transmitter.

Package: osso-fm-transmitter-l10n-enus
Section: misc
Architecture: all
Description: language files for osso-fm-transmitter (en_US)
 Language files for en_US osso-fm-transmitter.

Package: osso-fm-transmitter-l10n-eses
Section: misc
Architecture: all
Description: language files for osso-fm-transmitter (es_ES)
 Language files for es_ES osso-fm-transmitter.

Package: osso-fm-transmitter-l10n-esmx
Section: misc
Architecture: all
Description: language files for osso-fm-transmitter (es_MX)
 Language files for es_MX osso-fm-transmitter.

Package: osso-fm-transmitter-l10n-fifi
Section: misc
Architecture: all
Description: language files for osso-fm-transmitter (fi_FI)
 Language files for fi_FI osso-fm-transmitter.

Package: osso-fm-transmitter-l10n-frca
Section: misc
Architecture: all
Description: language files for osso-fm-transmitter (fr_CA)
 Language files for fr_CA osso-fm-transmitter.

Package: osso-fm-transmitter-l10n-frfr
Section: misc
Architecture: all
Description: language files for osso-fm-transmitter (fr_FR)
 Language files for fr_FR osso-fm-transmitter.

Package: osso-fm-transmitter-l10n-itit
Section: misc
Architecture: all
Description: language files for osso-fm-transmitter (it_IT)
 Language files for it_IT osso-fm-transmitter.

Package: osso-fm-transmitter-l10n-nlnl
Section: misc
Architecture: all
Description: language files for osso-fm-transmitter (nl_NL)
 Language files for nl_NL osso-fm-transmitter.

Package: osso-fm-transmitter-l10n-nono
Section: misc
Architecture: all
Description: language files for osso-fm-transmitter (no_NO)
 Language files for no_NO osso-fm-transmitter.

Package: osso-fm-transmitter-l10n-plpl
Section: misc
Architecture: all
Description: language files for osso-fm-transmitter (pl_PL)
 Language files for pl_PL osso-fm-transmitter.

Package: osso-fm-transmitter-l10n-ptpt
Section: misc
Architecture: all
Description: language files for osso-fm-transmitter (pt_PT)
 Language files for pt_PT osso-fm-transmitter.

Package: osso-fm-transmitter-l10n-ruru
Section: misc
Architecture: all
Description: language files for osso-fm-transmitter (ru_RU)
 Language files for ru_RU osso-fm-transmitter.

Package: osso-fm-transmitter-l10n-svse
Section: misc
Architecture: all
Description: language files for osso-fm-transmitter (sv_SE)
 Language files for sv_SE osso-fm-transmitter.
